/* Fonts, margin and padding for titles, buttons */
h1, h2 {
    font-family: 'Rubik Mono One', monospace;
}

h1 {
    font-size: 4rem;
    padding: 20px;
    margin: 50px;
}

h2 {
    font-size : 2rem;
}

.control-button {
    background-color: #BFBFBF;
    font-size: 1.3rem;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding: 20px 10px;
    border-radius: 20px;
    border : 2px solid transparent;
    transition: transform 250ms;
    transition: background-color 500ms;
    transition: color 500ms;
}


.control-button:hover{
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 5px 5px 2px 1px rgba(42, 42, 43, 0.2);
    border-bottom: 2px solid lightgrey;
}

.black:hover {
    background-color: #404040;
    color: whitesmoke;
}

.rainbow:hover {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }

/* Sizing flexbox container around page */
.container {
    display: flex;
    justify-content: center;
}

.page-size {
    width: 60vw;
    justify-content: space-around;
    align-items: flex-start;

}

.control-panel, .grid {
    flex-direction: column;
    gap: 20px;
}
.control-panel h2 {
    margin-bottom: 20px;
}
.grid h2 {
    margin-bottom: 20px;
    align-self: center;
}

#sketch-grid {
    width: 500px;
    height:500px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.grid-choice select {
    cursor: pointer;
    text-align: center;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding: 20px 10px;
    border-radius: 20px;
    border : 2px solid transparent;
    background-color: #BFBFBF;
}
.grid-choice{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.display-grid-choice {
    text-align: center;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: lightgray;
}

.grid-choice input[type="range"] {

    cursor: pointer;
}

/* Square DIV styling */
.square-10 {
    height: 50px;
    width: 50px;
    border: 1px solid #BFBFBF;
    background-color: white;
}

.square-50 {
    height: 10px;
    width: 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
}

.square-100 {
    height: 5px;
    width: 5px;
    border: 1px solid #BFBFBF;
    background-color: white;
}

.on-black {
    background-color: #454545;
    border:#454545;
}

.on-rainbow {
    background-color: purple;
    border: purple;
}